.header-color {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
}

.avatarImage{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 400px;
}

.bannerText {
  background-color:black;
  opacity: 8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}

.bannerText h1 {
  font-size: 66px;
  font-weight: bold;
  color:white;
  margin: auto;
}
.bannerText hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.bannerText p {
  color: white;
  margin: auto;
  font-size: 20px;
  padding:1em;
}

.socialLinks {
  display:flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}


.socialLinks i {
  color:white;
  font-size: 5em;
  padding:8px;
}

.projects-grid {
  display: flex;
}

.project-learn-more{
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
}
.sample-Agoda-Cities {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sample-Agoda-Hotel {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.returnButton {
  color:white;
  font-size: 2em;
  padding:8px;
}