.header-color {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
}

.avatarImage{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 400px;
}

.bannerText {
  background-color:black;
  opacity: 8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
}

.bannerText h1 {
  font-size: 66px;
  font-weight: bold;
  color:white;
  margin: auto;
}
.bannerText hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.bannerText p {
  color: white;
  margin: auto;
  font-size: 20px;
  padding:1em;
}

.socialLinks {
  display:flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}


.socialLinks i {
  color:white;
  font-size: 5em;
  padding:8px;
}

.projects-grid {
  display: flex;
}

.returnButton {
  color:white;
  font-size: 2em;
  padding:8px;
}

/* Images links */
.sample-Agoda-Cities {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sample-Agoda-Hotel {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.food-cost-at-gt {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.food-cost-at-nyu {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.angelhack-example {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.angelhack-working {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.angelhack-present {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tic-tac-toe{
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.tic-tac-toe-check{
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}



.contact-body {
  margin:auto;
  background:grey;
  position:fixed;
  width:100%;
  height:100%;
  justify-content: center;
  padding-top: 6em;
}

.contact-grid {
  text-align:center;
  justify-content: center;
  width:80%;
  height:550px;
  background:white;
  color:black;
  border:2px solid red;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin:auto;
}

.contact-list i {
  padding-right: 7rem;
}

.resume-right-col{
   background:#27221f;
   color:white;
   padding: 2em;
}

.learn-more-inside {
  background-color:black;
  color:white;
  text-align:center;
}